.div--u-ifiy9q2xa {transform: scale3d(0.8, 0.8, 0.8);}
.blocklist__item--s2-iiisrrkxn {min-width: 150px;}
.image__img--s2-if2a0c6le {object-fit: cover;}
.blocklist__list--s2-ibs54bunh {width: 100%;}
.blocklist__item-wrapper--s2-iqwk8sucz {width: auto; display: block;}
.blocklist__list--s2-iaogg5u0k {width: 100%;}
.blocklist__item-wrapper--s2-ismcol9mk {width: auto;}
.blocklist__item--s2-ifu2hoa7r {min-width: 150px;}
.blocklist__list--s2-i7hllgmdd {width: 100%;}
.blocklist__item-wrapper--s2-i03cttegk {display: block; width: auto;}
.blocklist__item--s2-iuatdgbwp {min-width: 150px;}
.image__img--s2-isukkvfjx {object-fit: contain;}
.container--u-il4cr9db9 {max-width: none;}
.div--u-i5e7ip8p8 {width: auto;}
.text--u-i0z38hfms {overflow-wrap: normal;}
.text--u-izl6k10cw {opacity: 0.5;}
.blocklist--u-ix9f2z68k {flex-grow: 0; flex-shrink: 0;}
.blocklist__text-title--u-i8rt285g7 {margin-bottom: 0px;}
.div--u-ig8ms6b9r {display: flex; padding: 10px; width: auto;}
.div--u-ie3rrqwfm {background-size: auto; background-image: linear-gradient(rgba(20, 174, 92, 1) 0%, rgba(20, 174, 92, 1) 100%); background-repeat: no-repeat; background-position: left 0px top 0px; background-attachment: scroll; width: 6px; height: 6px;}
.div--u-izt6swef2 {display: flex; padding: 10px; width: auto;}
.div--u-imhkzsz80 {display: flex; padding: 10px; width: auto;}
.text--u-iczh3sjga {display: inline-flex;}
.up-button--u-itaqinwlk {background-image: url("/d/vector_17_stroke_1.svg"), linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%); background-size: auto, auto; background-repeat: no-repeat, no-repeat; background-position: left 10px center, left 0px top 0px; background-attachment: scroll, scroll; color: rgba(39, 43, 48, 1);}
.link-block--u-i548c1nmk {align-items: center; justify-content: center;}
.image--u-igyqdxj7r {flex-grow: 0; flex-shrink: 0; height: auto; width: 240px;}
.text--u-imnsf2fsr {opacity: 0.5; display: none;}
.link--u-iz803sg7c {text-decoration: none; overflow-wrap: normal;}
.link--u-iedcqo6aw {text-decoration: none;}
.link--u-i22u6de2b {text-decoration: none;}
@media (max-width: 991px) {.blocklist--u-ix9f2z68k {padding-bottom: 0px; height: 381.25px; flex-grow: 0; order: -1;}}
@media (max-width: 991px) {.div--u-ibnyis93h {order: 0;}}
@media (max-width: 991px) {.blocklist__item--u-iiisrrkxn {height: 267.8203125px; flex-grow: 0;}}
@media (max-width: 767px) {.text--u-izl6k10cw {display: none;}}
@media (max-width: 767px) {.blocklist--u-ix9f2z68k {height: 238.25px; flex-grow: 0;}}
@media (max-width: 767px) {.text--u-imnsf2fsr {display: inline-flex;}}
@media (max-width: 479px) {.text--u-izl6k10cw {display: none;}}
@media (max-width: 479px) {.div--u-ig8ms6b9r {flex-grow: 0;}}
@media (max-width: 479px) {.div--u-ibnyis93h {order: -1;}}
@media (max-width: 479px) {.text--u-imnsf2fsr {display: flex;}}
@media (max-width: 479px) {.blocklist__item--u-iiisrrkxn {flex-grow: 0;}}
