.pop-up__inside-close-button--s2-is35njhb0 {display: flex;}
.pop-up__outside-close-button--s2-iqmrg6g6e {display: none;}
.pop-up__overlay--u-ixoe5pvf2 {background-size: auto; background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%); background-repeat: repeat; background-position: left 0px top 0px; background-attachment: scroll; width: 0px; height: 0px; backdrop-filter: blur(4px);}
.pop-up__content--u-izxryoou5 {min-height: auto; min-width: auto;}
.pop-up__inside-close-button--u-is35njhb0 {display: none;}
.text--u-ibxidwve4 {text-align: left;}
