.menu__icon-lvl1--s1-i4y75fbgx {background-position: center center; background-repeat: no-repeat; background-size: auto; background-attachment: scroll; background-image: url("/g/s3/mosaic/images/widgets/menu-arrow-down.svg"); background-color: rgba(0, 0, 0, 0);}
.slider__slide--s2-im3os1vjt {height: 100%;}
.menu__wrapper-lvl1--s2-i94y8ae2v {display: block; position: static;}
.menu__list-lvl1--s2-i5tul5ij4 {display: flex;}
.menu__close-button--s2-ie8loe4ul {display: none;}
.blocklist__item--s2-iiisrrkxn {min-width: 150px;}
.pop-up__outside-close-button--s2-i1l53lxjf {display: flex;}
.pop-up__outside-close-button--s2-ibf3z95e1 {display: none;}
.pop-up__inside-close-button--s2-i2lbvd5et {display: flex;}
.pop-up__inside-close-button--s2-is35njhb0 {display: flex;}
.video--s2-ilu09u3ud {object-fit: cover;}
.video--s2-i6ck4cbhd {object-fit: cover;}
.blocklist--s2-ig20yx3gk {height: auto;}
.form__select--s2-iiehbiqnl {appearance: none;}
.form__select--s2-izqt113uh {appearance: none;}
.image__img--s2-igf1s7lds {object-fit: contain;}
.image__img--s2-ix56y780z {object-fit: cover;}
.image__img--s2-iwa4xk00m {object-fit: cover;}
.image__img--s2-ivxxi69wb {object-fit: cover;}
.image__img--s2-isnv8iv00 {object-fit: cover;}
.image__img--s2-i4kjk2ldm {object-fit: cover;}
.image__img--s2-if2a0c6le {object-fit: cover;}
.blocklist__list--s2-ibs54bunh {width: 100%;}
.blocklist__item-wrapper--s2-iqwk8sucz {width: auto; display: block;}
.blocklist__list--s2-iaogg5u0k {width: 100%;}
.blocklist__item-wrapper--s2-ismcol9mk {width: auto;}
.blocklist__item--s2-ifu2hoa7r {min-width: 150px;}
.blocklist__list--s2-i7hllgmdd {width: 100%;}
.blocklist__item-wrapper--s2-i03cttegk {display: block; width: auto;}
.blocklist__item--s2-iuatdgbwp {min-width: 150px;}
.image__img--s2-isukkvfjx {object-fit: contain;}
.blocklist__list--s2-iqm6n2lw0 {width: 100%;}
.blocklist__item-wrapper--s2-ijkak2mio {width: auto;}
.blocklist__item--s2-i2k05pp9w {min-width: 150px;}
.image__img--s2-ib65f11dn {object-fit: contain;}
.image__img--s2-i4ph2ie0w {object-fit: contain;}
.blocklist__list-wrapper--s2-id9m5wamr {overflow-x: hidden; overflow-y: hidden;}
.blocklist__list--s2-i5dpld5my {flex-wrap: nowrap; flex-direction: row; width: 100%;}
.blocklist__item-wrapper--s2-i2gapgyzs {width: 33.333333333333336%; height: auto;}
.blocklist__item--s2-irh2ny5c2 {min-width: auto;}
.blocklist__arrows-wrapper--s2-icy0297kr {display: flex;}
.blocklist__pagination-wrapper--s2-i0n5y9lnx {display: flex;}
.blocklist__controls-wrapper--s2-i75uw79i9 {display: flex;}
.form__field--s2-iknbhf5bc .form__checkbox {display: none;}
.form__field--s2-iknbhf5bc .form__checkbox-styled {display: block;}
.blocklist__list--s2-ii307zaxe {width: 100%;}
.blocklist__item-wrapper--s2-iq8hh5o67 {width: auto;}
.blocklist__item--s2-i8twf35zj {min-width: 150px;}
.pop-up__inside-close-button--s2-iogjqh4mu {display: none;}
.pop-up__inside-close-button--s2-i5wj3lsa2 {display: flex;}
.form__field--s2-idkjlao8a .form__checkbox {display: none;}
.form__field--s2-idkjlao8a .form__checkbox-styled {display: block;}
.blocklist__list--s2-ikv5de9md {width: 100%;}
.blocklist__item-wrapper--s2-iy2rtzkiu {width: auto;}
.blocklist__item--s2-iis5kqdlm {min-width: 150px;}
.pop-up__outside-close-button--s2-iz61fulkf {display: none;}
.form__field--s2-iora54uze .form__checkbox {display: none;}
.form__field--s2-iora54uze .form__checkbox-styled {display: block;}
.blocklist__list--s2-ik1sfbjt7 {width: 100%;}
.blocklist__item-wrapper--s2-ipdcp90jm {width: auto;}
.blocklist__item--s2-i0aa22iyf {min-width: 150px;}
.pop-up__outside-close-button--s2-iqmrg6g6e {display: none;}
.image__img--s2-ip5pa98j7 {object-fit: cover;}
.image__img--s2-ipfk0z42d {object-fit: cover;}
@media (max-width: 991px) {.menu__wrapper-lvl1--s2-i94y8ae2v {display: block; min-height: 100%; position: static;}}
@media (max-width: 991px) {.menu__burger-button--s2-ixw1o4j66 {display: block;}}
@media (max-width: 991px) {.menu__scroll-wrapper--s2-iels16188 {display: block;}}
@media (max-width: 991px) {.menu__list-lvl1--s2-i5tul5ij4 {display: block;}}
@media (max-width: 991px) {.menu__close-button--s2-ie8loe4ul {display: block;}}
@media (max-width: 991px) {.blocklist--s2-ig20yx3gk {height: auto;}}
@media (max-width: 991px) {.menu__fixed-wrapper--s2-ixjpaptiy {display: none; flex-direction: row;}}
@media (max-width: 991px) {.blocklist__list--s2-i5dpld5my {width: 100%; height: auto;}}
@media (max-width: 991px) {.blocklist__item-wrapper--s2-i2gapgyzs {width: 50%; height: auto;}}
@media (max-width: 991px) {.blocklist__item--s2-irh2ny5c2 {min-width: auto;}}
@media (max-width: 767px) {.blocklist--s2-ig20yx3gk {height: auto;}}
@media (max-width: 767px) {.blocklist__list--s2-i5dpld5my {width: 100%; height: auto;}}
@media (max-width: 767px) {.blocklist__item-wrapper--s2-i2gapgyzs {width: 100%; height: auto;}}
@media (max-width: 767px) {.blocklist__item--s2-irh2ny5c2 {min-width: auto;}}
@media (min-width: 769px) {.menu--s2-imo87su4n [data-desktop-block] {display: block;}}
@media (max-width: 768px) {.menu--s2-imo87su4n [data-mobile-flex] {display: flex;}}
@media (max-width: 768px) {.menu--s2-imo87su4n [data-mobile-block] {display: block;}}
@media (max-width: 768px) {.menu--s2-imo87su4n [data-mobile-hide] {display: none;}}
@media (max-width: 768px) {.menu--s2-imo87su4n [data-mobile-contents] {display: contents;}}
.div--u-i3tu20un7 {background-size: cover; background-image: url("/d/photo_2026-09-13_12-09-27_2.jpg"); background-repeat: no-repeat; background-position: center center; background-attachment: scroll; flex-grow: 1; width: auto; flex-shrink: 0;}
.container--u-ipo8fp3bk {max-width: none;}
.image--u-ip12a1y13 {width: auto; height: 32px;}
.image--u-ib8sdolso {width: 39px; height: 39px; transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg); position: absolute; left: -4px; bottom: -4px;}
.div--u-ireae45cz {width: 657px;}
.root--u-i8z5xo3zc {flex-direction: column; display: flex; background-size: auto; background-image: linear-gradient(rgba(247, 247, 248, 1) 0%, rgba(247, 247, 248, 1) 100%); background-repeat: no-repeat; background-position: left 0px top 0px; background-attachment: scroll;}
.div--u-iqn866o7m {width: 100%;}
.slider--u-iyhoujma4 {width: 100%; align-self: stretch; flex-shrink: 1; flex-grow: 0; flex-direction: column;}
.div--u-i955zpscx {width: auto;}
.div--u-id7szmd0v {width: auto;}
.slider__slide--u-im3os1vjt {align-items: stretch;}
.slider__list--u-ipc8tarrq {align-self: stretch; flex-grow: 0;}
.slider__wrapper--u-ikkvx55uf {flex-direction: column; align-self: stretch;}
.slider__arrow-next--u-ipj2u97i4 {transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);}
.div--u-i87ivi4iu {z-index: 2;}
.container--u-iz7vzkd8x {max-width: none;}
.div--u-i65uo8ry4 {width: 100%; display: flex; flex-direction: column; align-items: flex-start; row-gap: 52px;}
.text--u-iphysdqd2 {margin-left: 1px;}
.div--u-i3l6rn0yy {column-gap: 40px; display: flex;}
.container--u-iocik8w6u {max-width: none;}
.div--u-ilpr5dq2o {column-gap: 40px; display: flex;}
.div--u-i1o86u1pk {width: 100%; display: flex; flex-direction: column; align-items: flex-start; row-gap: 52px;}
.container--u-il2wcpguc {max-width: none;}
.div--u-i1fwbw41y {width: 657px; z-index: 2;}
.text--u-i5f2qg738 {width: 828px; flex-grow: 0;}
.div--u-io9v8ws09 {background-size: cover; background-image: url("/d/dokumenty_1_1.png"); background-repeat: no-repeat; background-position: center center; background-attachment: scroll; height: 564.6px; width: 725px; flex-grow: 0; position: absolute;}
.div--u-ie34ow484 {background-size: cover; background-image: url("/d/img_0679_1.jpg"); background-repeat: no-repeat; background-position: center center; background-attachment: scroll;}
.div--u-iwe3o9efl {background-size: cover; background-image: url("/d/dostavka_1.png"); background-repeat: no-repeat; background-position: center center; background-attachment: scroll;}
.div--u-ib4b8vhab {display: flex; align-items: center;}
.text--u-inkocy4ea {flex-grow: 0; flex-shrink: 0; display: block;}
.text--u-i9clbw8rg {flex-grow: 1; flex-shrink: 0;}
.div--u-igd4lk9eo {display: flex; align-items: center;}
.text--u-ijzgb53tj {flex-grow: 0; flex-shrink: 0;}
.text--u-ir5lkibg6 {flex-grow: 1; flex-shrink: 0;}
.image--u-iwjt20wr1 {width: 370px; height: 370px;}
.text--u-irx7edkvj {text-decoration: line-through;}
.container--u-il4cr9db9 {max-width: none;}
.div--u-i5e7ip8p8 {width: auto;}
.text--u-i0z38hfms {overflow-wrap: normal;}
.text--u-izl6k10cw {opacity: 0.5;}
.blocklist--u-ix9f2z68k {flex-grow: 0; flex-shrink: 0;}
.blocklist__text-title--u-i8rt285g7 {margin-bottom: 0px;}
.div--u-ig8ms6b9r {display: flex; padding: 10px; width: auto;}
.div--u-ie3rrqwfm {background-size: auto; background-image: linear-gradient(rgba(20, 174, 92, 1) 0%, rgba(20, 174, 92, 1) 100%); background-repeat: no-repeat; background-position: left 0px top 0px; background-attachment: scroll; width: 6px; height: 6px;}
.div--u-izt6swef2 {display: flex; padding: 10px; width: auto;}
.div--u-imhkzsz80 {display: flex; padding: 10px; width: auto;}
.text--u-iczh3sjga {display: inline-flex;}
.up-button--u-itaqinwlk {background-image: url("/d/vector_17_stroke_1.svg"), linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%); background-size: auto, auto; background-repeat: no-repeat, no-repeat; background-position: left 10px center, left 0px top 0px; background-attachment: scroll, scroll; color: rgba(39, 43, 48, 1);}
.link-block--u-i548c1nmk {align-items: center; justify-content: center;}
.text--u-isq0vq9gi {display: flex; width: 100%;}
.text--u-ixoentlzv {width: 100%;}
.container--u-ilmjwhygg {max-width: none;}
.div--u-ijl3g5267 {display: none;}
.div--u-incmco1j6 {display: none;}
.text--u-i83kg91sr {width: auto; height: auto; padding-left: 3px; padding-right: 3px;}
.menu__wrapper-lvl1--u-i94y8ae2v {padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;}
.image--u-igyqdxj7r {flex-grow: 0; flex-shrink: 0; height: auto; width: 240px;}
.menu__link-text--u-iauhitpgf {flex-grow: 0; flex-shrink: 0;}
.menu--u-imo87su4n {justify-content: space-between; width: 100%;}
.menu__burger-button--u-ixw1o4j66 {background-image: url("/g/s3/mosaic/images/widgets/menu-burger.svg"), linear-gradient(rgba(39, 43, 48, 1) 0%, rgba(39, 43, 48, 1) 100%); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.link-block--u-i4hb5hk0n {align-items: center; justify-content: center;}
.text--u-isssi4yxs {overflow-wrap: normal; font-size: 12px; font-family: 'Manrope'; line-height: 110%;}
.div--u-ik5zswetr {display: flex; padding: 10px; width: auto;}
.div--u-iqzdza63u {background-size: auto; background-image: linear-gradient(rgba(20, 174, 92, 1) 0%, rgba(20, 174, 92, 1) 100%); background-repeat: no-repeat; background-position: left 0px top 0px; background-attachment: scroll; width: 6px; height: 6px;}
.button--u-iorr0q3lt {display: none !important;}
.link-block--u-i5ibgrcvv {align-items: center; justify-content: center; display: none !important;}
.text--u-ibvh7aouv {overflow-wrap: normal; font-size: 12px; font-family: 'Manrope'; line-height: 110%;}
.text--u-imnsf2fsr {opacity: 0.5; display: none;}
.embed--u-ipx8w15dd {width: 100%;}
.link--u-iz803sg7c {text-decoration: none; overflow-wrap: normal;}
.link--u-i88kd93ny {text-decoration: none;}
.link--u-iedcqo6aw {text-decoration: none;}
.link--u-i22u6de2b {text-decoration: none;}
.div--u-il53trwht {width: 100%;}
.image--u-irdml21uf {width: auto; height: 100%; flex-grow: 1; flex-shrink: 0;}
.container--u-i2kg47g1e {max-width: none; display: flex; flex-direction: column; align-items: center;}
.div--u-ifh61pvb6 {display: flex; flex-direction: column; align-items: flex-start; row-gap: 40px;}
.div--u-i13z34mra {max-width: 1160px;}
.container--u-i3gnipo61 {max-width: none;}
.accordion__item--u-iuvjww02w.is-opened {background-image: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);}
.accordion__item--u-iuvjww02w.is-opened .accordion__content--u-iop6zp5go {padding-left: 0px; padding-right: 70px; padding-top: 0px; padding-bottom: 0px;}
.accordion__item--u-iuvjww02w.is-opened .accordion__header--u-ihwicfg6d {background-color: rgb(255, 255, 255); background-size: auto; background-image: none/*linear-gradient(rgb(213, 241, 248) 0%, rgb(213, 241, 248) 100%)*/; background-repeat: repeat; background-position: left 0px top 0px; background-attachment: scroll;}
.accordion__item--u-iuvjww02w.is-opened .div--u-irdr1fwm9 {transition-property: all, all, all; transition-duration: 300ms, 300ms, 300ms; transition-delay: 0ms, 0ms, 0ms; transition-timing-function: ease, ease, ease; transform: rotateX(0deg) rotateY(0deg) rotateZ(45deg);}
.accordion__header--u-ihwicfg6d {background-size: auto; background-image: none/*linear-gradient(rgb(245, 245, 245) 0%, rgb(245, 245, 245) 100%)*/; background-repeat: repeat; background-position: left 0px top 0px; background-attachment: scroll;}
.div--u-iv7ssh5s3 {display: flex; justify-content: center; align-items: center;}
.div--u-iv7ssh5s3:hover {background-image: linear-gradient(rgba(39, 43, 48, 1) 0%, rgba(39, 43, 48, 1) 100%); transition-property: all; transition-duration: 300ms; transition-delay: 0ms; transition-timing-function: ease;}
.div--u-irdr1fwm9 {background-size: contain; background-image: url("/d/vector_1.svg"); background-repeat: no-repeat; background-position: center center; background-attachment: scroll;}
.container--u-i2g9p6yyw {max-width: none;}
.div--u-i3z4ze09v {width: 570px;}
.form__widget-item--u-i13sb0ak0:has(:checked) .form__checkbox-styled--u-iyydsnsbd {background-image: url("/g/s3/mosaic/images/widgets/checkbox.svg"), linear-gradient(rgba(17, 131, 65, 1) 0%, rgba(17, 131, 65, 1) 100%); border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-left-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-color: rgba(17, 131, 65, 1); border-left-color: rgba(17, 131, 65, 1); border-right-color: rgba(17, 131, 65, 1); border-bottom-color: rgba(17, 131, 65, 1);}
.form__checkbox-styled--u-iyydsnsbd {border-top-color: rgba(17, 131, 65, 1); border-left-color: rgba(17, 131, 65, 1); border-right-color: rgba(17, 131, 65, 1); border-bottom-color: rgba(17, 131, 65, 1);}
.form__label-text--u-iey4nnc0f {display: none;}
.div--u-izpb5zwej {display: flex; padding: 10px; width: auto;}
.div--u-ikrk2l5ca {background-size: cover; background-image: url("/d/photoroom_20250709_205728_1.jpg"); background-repeat: no-repeat; background-position: center center; background-attachment: scroll; flex-grow: 1; width: auto; flex-shrink: 0; display: flex; flex-direction: column; justify-content: flex-end; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; align-items: flex-end; border-top-left-radius: 40px; border-top-right-radius: 40px; border-bottom-left-radius: 40px; border-bottom-right-radius: 40px;}
.div--u-i8qbdoy5g {background-size: auto; background-image: linear-gradient(rgba(20, 174, 92, 1) 0%, rgba(20, 174, 92, 1) 100%); background-repeat: no-repeat; background-position: left 0px top 0px; background-attachment: scroll; width: 6px; height: 6px;}
.pop-up__outside-close-button--u-i1l53lxjf {background-color: rgb(255, 255, 255); padding-left: 4px; padding-right: 4px; padding-top: 4px; padding-bottom: 4px; min-width: 40px; min-height: 40px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
.div--u-ielzylkx6 {display: flex; padding: 10px; width: auto;}
.div--u-i4lsfjlrm {display: flex; padding: 10px; width: auto;}
.image--u-i95cujeh0 {width: 50%; height: auto; border-top-left-radius: 28px; border-top-right-radius: 28px; border-bottom-left-radius: 28px; border-bottom-right-radius: 28px;}
.pop-up__content--u-it6k1oaop {border-top-left-radius: 28px; border-top-right-radius: 28px; border-bottom-left-radius: 28px; border-bottom-right-radius: 28px; overflow-x: auto; overflow-y: auto; padding-left: 40px; padding-right: 40px; padding-top: 40px; padding-bottom: 32px; display: flex; flex-direction: column; row-gap: 40px; min-width: auto; min-height: auto; max-height: 100%;}
.image--u-iq1kbilwu {width: 370px; height: 370px; display: none;}
.image--u-ibzz7w8yc {width: 370px; height: 370px; display: none;}
.image--u-im851ftxa {width: 370px; height: 370px; display: none;}
.embed--u-im0euho7u {width: 100%;}
.pop-up--u-ier1m2br4 {max-height: 100vh; padding-top: 24px; padding-bottom: 24px;}
.search-bar--u-ic2s50fih {display: none !important;}
.search-bar__field--u-izjoj4qnm {display: none !important;}
.pop-up__content--u-ipb8nr0s3 {min-height: auto; min-width: auto;}
.pop-up__inside-close-button--u-i6r1hhq3j {z-index: 5;}
.div--u-i3cn42ala {display: flex; padding: 10px; width: auto; flex-direction: column; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;}
.text-title--u-i4vz9ry3o {margin-bottom: 0px;}
.text-title--u-i4m8rgb9q {margin-bottom: 0px;}
.form__widget-item--u-i9iftzu4m:has(:checked) .form__checkbox-styled--u-i4ezshlp3 {background-image: url("/g/s3/mosaic/images/widgets/checkbox.svg"), linear-gradient(rgba(17, 131, 65, 1) 0%, rgba(17, 131, 65, 1) 100%); border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-left-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-color: rgba(17, 131, 65, 1); border-left-color: rgba(17, 131, 65, 1); border-right-color: rgba(17, 131, 65, 1); border-bottom-color: rgba(17, 131, 65, 1);}
.form__checkbox-styled--u-i4ezshlp3 {border-top-color: rgba(17, 131, 65, 1); border-left-color: rgba(17, 131, 65, 1); border-right-color: rgba(17, 131, 65, 1); border-bottom-color: rgba(17, 131, 65, 1);}
.form__label-text--u-im09o17b8 {display: none;}
.div--u-iex6e52d5 {display: flex; padding: 10px; width: auto;}
.button--u-i67fqj0wy {z-index: 2;}
.div--u-idponmbxm {pointer-events: none;}
.div--u-imwi4p5lp {width: auto;}
.div--u-i29wy6tmx {width: auto;}
.text--u-i2vg3fyfx {opacity: 0.8;}
.pop-up--u-igavyx6ya {max-height: 100vh;}
.pop-up__overlay--u-ixoe5pvf2 {background-size: auto; background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%); background-repeat: repeat; background-position: left 0px top 0px; background-attachment: scroll; width: 0px; height: 0px; backdrop-filter: blur(4px);}
.pop-up__content--u-izxryoou5 {min-height: auto; min-width: auto;}
.pop-up__inside-close-button--u-is35njhb0 {display: none;}
.text--u-ibxidwve4 {text-align: left;}
.slider__dot--u-i10zvf2e5.is-current {background-image: linear-gradient(rgba(227, 22, 22, 1) 0%, rgba(227, 22, 22, 1) 100%); min-width: 28px; border-top-left-radius: 11px; border-top-right-radius: 11px; border-bottom-left-radius: 11px; border-bottom-right-radius: 11px;}
.div--u-i4k0o3gtk {display: flex; padding: 10px; width: auto;}
.div--u-i4k0o3gtk:hover .link-block--u-imcht6kb3 {top: 20px; right: 20px;}
.video--u-ilu09u3ud {height: 100%; width: 100%;}
.embed--u-i09ysg2bl {height: 0px; min-height: auto;}
.video--u-i6ck4cbhd {width: 100%;}
.blocklist__text-title--u-ilmcdhvwh {margin-bottom: 0px;}
.blocklist--u-ig20yx3gk {flex-direction: row; max-width: none; width: 100%; margin-bottom: 52px; column-gap: 8px;}
.blocklist__pagination--u-isyx7avlb {display: none;}
.blocklist__arrow-next--u-i72qzwmt7 {transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);}
.text--u-ioyltjuux {font-size: 0px;}
.div--u-i09ij701w {display: flex; padding: 10px; width: auto;}
.div--u-iuhalvwrl {display: flex; padding: 10px; width: auto;}
.div--u-ir8em2vtp {display: flex; padding: 10px; width: auto;}
.div--u-im3bc3u4g {display: flex; padding: 10px; width: auto; align-items: center; column-gap: 12px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; justify-content: space-between;}
.div--u-ipj03oyjv {display: flex; padding: 10px; width: auto;}
.div--u-iqlo6zgmt {display: flex; padding: 10px; width: auto; flex-direction: column; align-items: flex-start; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;}
.div--u-igo9ynupl {height: 24px; width: 1px; border-top-left-radius: 1000px; border-top-right-radius: 1000px; border-bottom-left-radius: 1000px; border-bottom-right-radius: 1000px; opacity: 0.1; background-size: auto; background-image: linear-gradient(rgba(39, 43, 48, 0) 0%, rgba(39, 43, 48, 1) 50%, rgba(39, 43, 48, 0) 100%); background-repeat: no-repeat; background-position: left 0px top 0px; background-attachment: scroll;}
.div--u-ia0db5cwg {display: flex; padding: 10px; width: auto;}
.div--u-i5cx5rvxq {display: flex; padding: 10px; width: auto; flex-direction: column; align-items: flex-start; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;}
.div--u-igur5e9gh {display: flex; padding: 10px; width: auto; flex-direction: column; align-items: flex-end; row-gap: 4px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;}
.div--u-i0qf37n2s {display: flex; padding: 10px; width: auto; align-items: center; column-gap: 12px; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; justify-content: space-between;}
.text--u-i386jphcn {display: inline-block; margin-left: auto;}
.text--u-i35a4h7lp {display: inline-block;}
.div--u-iekcklh4d {display: flex; padding: 10px; width: auto;}
.div--u-il9v5o6jt {display: flex; padding: 10px; width: auto;}
.div--u-iloh9nr3j {display: flex; padding: 10px; width: auto;}
.div--u-iw36k2gmw {display: flex; padding: 10px; width: auto;}
.form__widget-item--u-iyzgvjs59:has(:checked) .form__checkbox-styled--u-i36zz2vqm {background-image: url("/g/s3/mosaic/images/widgets/checkbox.svg"), linear-gradient(rgba(17, 131, 65, 1) 0%, rgba(17, 131, 65, 1) 100%); border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-left-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-color: rgba(17, 131, 65, 1); border-left-color: rgba(17, 131, 65, 1); border-right-color: rgba(17, 131, 65, 1); border-bottom-color: rgba(17, 131, 65, 1);}
.form__checkbox-styled--u-i36zz2vqm {border-top-color: rgba(17, 131, 65, 1); border-left-color: rgba(17, 131, 65, 1); border-right-color: rgba(17, 131, 65, 1); border-bottom-color: rgba(17, 131, 65, 1);}
.form__label-text--u-ii5ipvbh3 {display: none;}
.form__select--u-iiehbiqnl {padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-top-style: none; border-left-style: none; border-right-style: none; border-bottom-style: none;}
.form__select--u-izqt113uh {padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-top-style: none; border-left-style: none; border-right-style: none; border-bottom-style: none;}
.image--u-ig73drtmk {width: 100%; height: 100%;}
.div--u-i7m6hwx8g {display: flex; padding: 10px; width: auto;}
.div--u-iuf75acx2 {width: 100%; z-index: 2;}
.div--u-i25mul2u5 {width: auto;}
.text--u-iq5brzzn2 {opacity: 0.8;}
.image--u-ik0edjsjz {width: 100%; height: 459px; align-self: stretch; border-top-left-radius: 40px; border-top-right-radius: 40px; border-bottom-left-radius: 40px; border-bottom-right-radius: 40px; display: none;}
.div--u-iebdr6t41 {background-size: cover; background-image: url("/d/img_1085.jpg"); background-repeat: no-repeat; background-position: center center; background-attachment: scroll;}
.embed--u-iipnxsd4h {width: 100%;}
.text--u-ii5019ex1 {padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background-color: rgb(255, 255, 255); border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
.div--u-iw8ir4uo1 {display: flex; align-items: center; justify-content: center;}
@media (max-width: 991px) {.div--u-i1fwbw41y {padding-right: 360px;}}
@media (max-width: 991px) {.text--u-i5f2qg738 {width: auto;}}
@media (max-width: 991px) {.blocklist--u-ix9f2z68k {padding-bottom: 0px; height: 381.25px; flex-grow: 0; order: -1;}}
@media (max-width: 991px) {.div--u-ibnyis93h {order: 0;}}
@media (max-width: 991px) {.menu--u-imo87su4n {order: 1000; width: auto;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .menu__wrapper-lvl1--u-i94y8ae2v {width: 100%; display: flex; flex-direction: column; justify-content: space-between; padding-top: 12px; padding-bottom: 40px; row-gap: 40px; padding-left: 24px; padding-right: 24px; align-items: flex-start;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .menu__link-text--u-iauhitpgf {font-size: 20px;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .menu__scroll-wrapper--u-iels16188 {min-width: 340px; display: flex; width: auto; justify-content: flex-start; position: absolute; right: 0px; z-index: 100;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .menu__list-lvl1--u-i5tul5ij4 {height: auto; width: 100%;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .menu__item-lvl1--u-idj509tbi {margin-bottom: 16px;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .link-block--u-i4hb5hk0n {display: flex; width: auto; row-gap: 0px;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .menu__close-button--u-ie8loe4ul {position: absolute; right: 24px; top: 19px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; background-image: url("/g/s3/mosaic/images/widgets/menu-close.svg"), linear-gradient(rgba(240, 240, 244, 1) 0%, rgba(240, 240, 244, 1) 100%);}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .menu__overlay--u-ijjpqygo1 {display: block;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .div--u-ik5zswetr {flex-direction: column; align-items: flex-start; width: auto; row-gap: 24px;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .button--u-iorr0q3lt {width: auto; margin-right: auto; display: flex !important; justify-content: center;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .div--u-ip7qs9c3u {order: -1;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .link-block--u-i5ibgrcvv {display: flex; width: auto; row-gap: 0px;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .text--u-ibvh7aouv {color: rgba(39, 43, 48, 1); font-size: 14px;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .link--u-i88kd93ny {font-size: 24px;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .search-bar--u-iczd3vzw6 {display: flex !important;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .search-bar__input--u-islavb53j {width: 100%;}}
@media (max-width: 991px) {.menu--u-imo87su4n.is-opened .search-bar__field--u-izjoj4qnm {width: 100%; margin-right: 0px; display: flex !important;}}
@media (max-width: 991px) {.menu__burger-button--u-ixw1o4j66 {border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; width: 36px; height: 36px;}}
@media (max-width: 991px) {.link-block--u-i5ibgrcvv {display: flex !important;}}
@media (max-width: 991px) {.blocklist__item--u-iiisrrkxn {height: 267.8203125px; flex-grow: 0;}}
@media (max-width: 991px) {.div--u-ikrk2l5ca {height: 400px;}}
@media (max-width: 991px) {.search-bar--u-ic2s50fih {display: flex !important; width: 100%;}}
@media (max-width: 991px) {.div--u-ixzyokwmu {display: flex; padding: 10px; width: auto;}}
@media (max-width: 991px) {.blocklist--u-ig20yx3gk {width: 100%;}}
@media (max-width: 767px) {.div--u-i1fwbw41y {padding-right: 0px; margin-bottom: 167px;}}
@media (max-width: 767px) {.text--u-izl6k10cw {display: none;}}
@media (max-width: 767px) {.blocklist--u-ix9f2z68k {height: 238.25px; flex-grow: 0;}}
@media (max-width: 767px) {.menu--u-imo87su4n.is-opened .div--u-ik5zswetr {display: flex;}}
@media (max-width: 767px) {.menu--u-imo87su4n.is-opened .link--u-i88kd93ny {font-size: 24px;}}
@media (max-width: 767px) {.text--u-imnsf2fsr {display: inline-flex;}}
@media (max-width: 767px) {.accordion__item--u-iuvjww02w.is-opened .accordion__content--u-iop6zp5go {padding-right: 24px;}}
@media (max-width: 767px) {.image--u-i95cujeh0 {width: 100%;}}
@media (max-width: 767px) {.pop-up__content--u-it6k1oaop {border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}}
@media (max-width: 767px) {.pop-up--u-ier1m2br4 {padding-top: 0px; padding-bottom: 0px;}}
@media (max-width: 767px) {.text--u-iumxtgw1t {flex-grow: 0; flex-shrink: 0;}}
@media (max-width: 479px) {.div--u-i1fwbw41y {margin-bottom: 55px;}}
@media (max-width: 479px) {.text--u-i8vjypiq4 {font-size: 8px;}}
@media (max-width: 479px) {.text--u-izl6k10cw {display: none;}}
@media (max-width: 479px) {.div--u-ig8ms6b9r {flex-grow: 0;}}
@media (max-width: 479px) {.div--u-ibnyis93h {order: -1;}}
@media (max-width: 479px) {.menu--u-imo87su4n.is-opened .menu__wrapper-lvl1--u-i94y8ae2v {padding-left: 20px; padding-right: 20px; row-gap: 24px;}}
@media (max-width: 479px) {.menu--u-imo87su4n.is-opened .menu__link-text--u-iauhitpgf {font-size: 19px;}}
@media (max-width: 479px) {.menu--u-imo87su4n.is-opened .link--u-i88kd93ny {font-size: 20px;}}
@media (max-width: 479px) {.menu--u-imo87su4n.is-opened .menu__scroll-wrapper--u-iels16188 {min-width: 80%;}}
@media (max-width: 479px) {.menu--u-imo87su4n.is-opened .menu__close-button--u-ie8loe4ul {z-index: 100;}}
@media (max-width: 479px) {.menu--u-imo87su4n.is-opened .div--u-ik5zswetr {row-gap: 20px;}}
@media (max-width: 479px) {.link-block--u-i5ibgrcvv {width: 147px; flex-grow: 0;}}
@media (max-width: 479px) {.text--u-ibvh7aouv {display: none;}}
@media (max-width: 479px) {.text--u-imnsf2fsr {display: flex;}}
@media (max-width: 479px) {.blocklist__item--u-iiisrrkxn {flex-grow: 0;}}
@media (max-width: 479px) {.accordion__item--u-iuvjww02w.is-opened .accordion__content--u-iop6zp5go {padding-right: 0px;}}
@media (max-width: 479px) {.pop-up__outside-close-button--u-i1l53lxjf {padding-left: 2px; padding-right: 2px; padding-top: 2px; padding-bottom: 2px; min-width: 32px; min-height: 32px;}}
@media (max-width: 479px) {.image--u-i95cujeh0 {border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;}}
@media (max-width: 479px) {.pop-up__content--u-it6k1oaop {padding-left: 24px; padding-right: 24px; padding-top: 24px; padding-bottom: 24px; overflow-x: auto; overflow-y: auto; min-height: 100vh; row-gap: 32px; width: 100%;}}
@media (max-width: 479px) {.pop-up--u-ier1m2br4 {overflow-x: auto; overflow-y: auto; width: 100%;}}
@media (max-width: 479px) {.pop-up__inside-close-button--u-i2lbvd5et {z-index: 10;}}
