<div class="div div--u-ijh0m6t2l product-wrapper__cms" id="ijh0m6t2l_0">
<div class="div div--u-ieug8t6qc product__img-wrapper__cms" id="ieug8t6qc_0">
<div data-cat="Зелёная" class="image product__img__cms image--u-ia2ynjvod" id="ia2ynjvod_0">
<img src="/thumb/2/ySF3xxyfXmRFOu6Mr8lfng/r/d/2026-09-13_132516.jpg" alt="" title="" class="image__img image__img--s2-ifils4dac" id="ifils4dac_0">
</div>
</div>
<div class="div div--u-itg87gi8c product-content__wrapper__cms" id="itg87gi8c_0">
<div class="div div--u-i2jbj1upi product-content__cms" id="i2jbj1upi_0">
<div class="div div--u-i0z2hjkez title-description__gap" id="i0z2hjkez_0">
<div data-prop-title="" class="text site__h1 color__h1" id="idfofgb2h_0">
<span class="text-block-wrap-div">Настольная елка Веста</span>
</div>
<div data-prop-description="" class="text color__h2 site__h3 text--u-i8uk1gpxc" id="i8uk1gpxc_0">
<span class="text-block-wrap-div">Миниатюрная елка Веста дополнит ваш праздничный интерьер</span>
</div>
<div data-product-id-decor="" class="text color__h1 text--u-ih7nrzigj" id="ih7nrzigj_0">
<span class="text-block-wrap-div">2d</span>
</div>
</div>
<div class="tt-rich-text color__h3 site__h4 tt-rich-text--u-ievbu9h63" id="ievbu9h63_0">
<div class="text-block-wrap-div"><p>Кол-во веток: 48 шт</p><p>Высота: 60 см</p><p>Диаметр нижних веток: 40 см</p></div>
</div>
<div data-variants-decor="" class="div div--u-imrhllprv input__catalog" id="imrhllprv_0">
<div data-variants-decor="" class="text color__h2 site-catalog__h3" id="ivnvx73d4_0">
<span class="text-block-wrap-div">120х40х40</span>
</div>
<div class="image down__img image--u-ibnwgajpy" id="ibnwgajpy_0">
<img src="/thumb/2/uTw63IdxEnqR7fwGJjNqzA/640r480/d/chevron_down_2.svg" alt="chevron down (2)" title="" data-size="0x0" data-origin-src="/thumb/2/uTw63IdxEnqR7fwGJjNqzA/640r480/d/chevron_down_2.svg" class="image__img" id="i8th59rmk_0">
</div>
</div>
</div>
<div class="div div--u-izbg1g4tf dop__img__cms" id="izbg1g4tf_0">
<div class="text site__h3 color__h3" id="iie1icqbd_0">
<span class="text-block-wrap-div">Ещё фото</span>
</div>
<div class="div div--u-iqaevekr8 dop__img__cms" id="iqaevekr8_0">
<div data-cat="Заснеженная с освещением" class="image product__img-dop__cms image--u-ih3ueyzh4" id="ih3ueyzh4_0">
<img src="/thumb/2/EdvHNx6M_XGmB755BD6bjg/640r480/d/fgs16_image-placeholder2.png" alt="" title="" data-size="480x480" data-origin-src="/thumb/2/EdvHNx6M_XGmB755BD6bjg/640r480/d/fgs16_image-placeholder2.png" class="image__img" id="ib9pol371_0">
</div>
</div>
</div>
<div class="div div--u-i2ojo0tm4 price-button-wrapper__product__cms" id="i2ojo0tm4_0">
<div data-price-decor="" class="text site-catalog__h1 color__h2 price" id="i865viipj_0">
<span class="text-block-wrap-div">2 600 ₽</span>
</div>
<div href="/catalog" role="button" class="button standart__button-4 buy-btn" id="ij34itp94_0">
<span class="text-button" id="i5c1rwi3j_0">
<span class="text-block-wrap-div">в корзину</span>
</span>
</div>
</div>
</div>
</div>
