.div--u-ifiy9q2xa {transform: scale3d(0.8, 0.8, 0.8);}
.div--u-ip9kfwz7k {transform: scale3d(0.8, 0.8, 0.8);}
.div--u-ivz475mzj {transform: scale3d(0.8, 0.8, 0.8);}
.div--u-igwz9tywy {transform: scale3d(0.8, 0.8, 0.8);}
.div--u-ileoqm0f4 {opacity: 0; transform: translate3D(0px, 150px, 0px);}
.div--u-i4k0o3gtk {opacity: 0; transform: translate3D(0px, 150px, 0px);}
