<section class='section' id='ingttdzhn_0'>
<div class='container grid' id='ic0uye0di_0'>
<div class='div block-standard__wrapper left__wrapper' id='izb978j68_0'>
<div class='div div--u-il53trwht content-button__gap' id='il53trwht_0'>
<div class='div title-list__gap' id='ivpocrgfv_0'>
<div class='div title-description__gap' id='i247fsc8s_0'>
<div class='text site__h1 color__h1' id='ib55mgwzt_0'>
<span class='text-block-wrap-div'><span style="color:rgb(17, 131, 65)">Платите частями <span style="white-space:pre">в своём</span> темпе</span> — отправим ёлку, когда закроете всю сумму</span>
</div>
<div class='text site__h2 color__h2' id='il6kgndvf_0'>
<span class='text-block-wrap-div'>Внутренняя рассрочка без банков <span style="white-space:pre">и процентов</span>. Сами выбираете размер <span style="white-space:pre">и график</span> платежей</span>
</div>
</div>
<div class='list wrapper__list' id='i6w8y1u97_0'>
<div class='list__item item_list' id='ik33381co_0'>
<div class='div content-dot__list' id='irx5lbr9u_0'>
<div class='div dot__list' id='iuh2vpffq_0'></div>
<div class='text site__h3 color__h3' id='i5i6eomax_0'>
<span class='text-block-wrap-div'>0 % переплаты — платите ровно цену ёлки, без комиссий</span>
</div>
</div>
<div class='div divider' id='ihb8fsa6q_0'></div>
<div class='div divider div--u-izs4dxqt9 divider-no' id='izs4dxqt9_0'></div>
</div>
<div class='list__item item_list' id='iurdffi9e_0'>
<div class='div content-dot__list' id='ic0ogld12_0'>
<div class='div dot__list color-green-bg' id='ijtkusyhp_0'></div>
<div class='text site__h3 color__h3' id='iqz2edi58_0'>
<span class='text-block-wrap-div'>Любой срок — вносите столько, сколько удобно, хоть раз в месяц, хоть раз <span style="white-space:pre">в неделю</span></span>
</div>
</div>
<div class='div divider' id='ipciz7z8d_0'></div>
<div class='div divider div--u-ii6ogu7jx divider-no' id='ii6ogu7jx_0'></div>
</div>
<div class='list__item item_list' id='ibs8bx0jd_0'>
<div class='div content-dot__list' id='i8h77j5dx_0'>
<div class='div dot__list color-green-bg' id='ib1b449bn_0'></div>
<div class='text site__h3 color__h3' id='ikbmc7h2y_0'>
<span class='text-block-wrap-div'>Отправим после последнего платежа — мы бережно храним ёлку <span style="white-space:pre">на складе</span> <span style="white-space:pre">до вашей</span> готовности</span>
</div>
</div>
</div>
</div>
</div>
<div class='div button-description__wrapper' id='iuut1jlga_0'>
<div href='/catalog' data-modal-open="igavyx6ya_0" role='button' class='button standart__button-4' id='iz8b1cjca_0'>
<span class='text-button' id='i1xm2ebgw_0'>
<span class='text-block-wrap-div'>Оформить <span style="white-space:pre">в рассрочку</span></span>
</span>
</div>
<div class='text text--u-ir5r3qqqp color__h2 site__h5' id='ir5r3qqqp_0'>
<span class='text-block-wrap-div'>Условия фиксируются в договоре — всё прозрачно <span style="white-space:pre">и честно</span></span>
</div>
</div>
</div>
<div class='image image--u-irdml21uf plan__img' id='irdml21uf_0'>
<img src='/thumb/2/wYEIjgfQSE5go2kCGjyfMQ/640r480/d/frame_3_1.svg' alt='Frame 3 (1)' title='' data-size='0x0' data-origin-src='/thumb/2/wYEIjgfQSE5go2kCGjyfMQ/640r480/d/frame_3_1.svg' class='image__img image__img--s2-i4ph2ie0w' id='i4ph2ie0w_0'  width="288" height="529" loading="lazy" decoding="async">
</div>
</div>
</div>
</section>
