<section class='section question' id='igibh7oyl_0'>
<div class='container container--u-i2g9p6yyw grid' id='i2g9p6yyw_0'>
<div class='div block-standard__wrapper wrapper__reverse' id='ir71yua8z_0'>
<div class='div div--u-i3z4ze09v content-button__gap' id='i3z4ze09v_0'>
<div class='text site__h1 color__h1' id='ievhg42df_0'>
<span class='text-block-wrap-div'>Остались вопросы? <span style="color:rgb(17, 131, 65)">Задайте <span style="white-space:pre">их здесь</span></span></span>
</div>
<div class='form form__question' id='iuv8ajkc6_0'>
<form action='#' class='form__state-default content-button__gap' id='iawvkogkq_0'>
<div class='div wrapper__form' id='ind163r1j_0'>
<div class='form__field input-wrapper__form' id='ikni3dnvx_0'>
<textarea placeholder='Напишите свой вопрос' class='form__textarea site__h4 input__form input-text__form color__h2' id='i46ye1wkg_0'></textarea>
<div class='form__field-error' id='iel3aq16w_0'>
<span class='text-block-wrap-div'>Это поле обязательно для заполнения</span>
</div>
</div>
<div class='form__field input-wrapper__form' id='ig8uq4x7h_0'>
<input placeholder='+7 (___) ___-__-__' type='tel' class='form__input input__form site__h4 color__h2' id='ifzna1qlx_0' >
<div class='form__field-error site__h5' id='i8ylldw5k_0'>
<span class='text-block-wrap-div'>Это поле обязательно для заполнения</span>
</div>
</div>
<div class='form__field input-wrapper__form form__field--s2-iknbhf5bc' id='iknbhf5bc_0'>
<div class='form__widget-group checkbox-wrapper__form' id='ind5wqgfm_0'>
<label class='form__widget-item form__widget-item--u-i13sb0ak0' id='i13sb0ak0_0'>
<input value='Вариант 1' type='checkbox' name='checkbox-io7kz656v' readOnly class='form__checkbox' id='io7kz656v_0' >
<span class='form__checkbox-styled checkbox__form form__checkbox-styled--u-iyydsnsbd' id='iyydsnsbd_0'></span>
<span class='form__label-text form__label-text--u-iey4nnc0f' id='iey4nnc0f_0'>
<span class='text-block-wrap-div'>Вариант 1</span>
</span>
</label>
<div class='text site__h5 color__h3' id='ifooj489r_0'>
<span class='text-block-wrap-div'>Я согласен(а) <span style="white-space:pre">на </span><span style="color:rgba(17, 131, 65, 1)"><span style="text-decoration:none"><a href="/person" rel="noreferrer"><span style="white-space:pre">обработку</span> персональных данных</a></span> </span><span style="white-space:pre">и принимаю</span> <span style="color:rgba(17, 131, 65, 1)"><a href="/privacy" rel="noreferrer">политику конфиденциальности</a></span></span>
</div>
</div>
<div class='form__field-error site__h5' id='iviwpf8am_0'>
<span class='text-block-wrap-div'>Это поле обязательно для заполнения</span>
</div>
</div>
</div>
<div class='div gap-space-between-hor' id='itrxvbrdb_0'>
<button type='submit' class='submit_button standart__button-4' id='ijhksxo4l_0'>
<span class='text-button' id='iuq73hue5_0'>
<span class='text-block-wrap-div'>Задать вопрос</span>
</span>
</button>
<div class='div div--u-izpb5zwej social-text__footer' id='izpb5zwej_0'>
<div class='text text--u-is2f2qepi color__h2 site__h5' id='is2f2qepi_0'>
<span class='text-block-wrap-div'>Или свяжитесь<br><span style="white-space:pre">с нами </span>сами</span>
</div>
<div class='blocklist social-list__wrapper' id='iunmajmvu_0'>
<div class='blocklist__list-wrapper' id='izfedv7s0_0'>
<div class='blocklist__list blocklist__list--s2-ii307zaxe' id='ii307zaxe_0'>
<div class='blocklist__item-wrapper blocklist__item-wrapper--s2-iq8hh5o67' id='iq8hh5o67_0'>
<div class='blocklist__item social-item__footer blocklist__item--s2-i8twf35zj' id='i8twf35zj_0'>
<a href='https://max.ru/u/f9LHodD0cOKOlRGOxfvtc4zPh6RniCff0xYXkJ1-tOqG7fZPfLCNFTR6i_4' target='_blank' class='link-block social__footer' id='iyy3cvz40_0'>
<div class='image social__img__footer' id='i9qg55ve0_0'>
<img src='https://trace-logos.ru/assets/logos/svgs/max.svg' alt='Логотип Max' title='' class='image__img' id='invxh774q_0'  loading="lazy" decoding="async">
</div>
</a>
</div>
</div>
<div class='blocklist__item-wrapper blocklist__item-wrapper--s2-iq8hh5o67' id='iq8hh5o67_1'>
<div class='blocklist__item social-item__footer blocklist__item--s2-i8twf35zj' id='i8twf35zj_1'>
<a href='https://t.me/lady_elka' target='_blank' class='link-block social__footer' id='iyy3cvz40_1'>
<div class='image social__img__footer' id='i9qg55ve0_1'>
<img src='https://trace-logos.ru/assets/logos/svgs/telegram.svg' alt='Логотип Telegram' title='' class='image__img' id='invxh774q_1'  loading="lazy" decoding="async">
</div>
</a>
</div>
</div>
<div class='blocklist__item-wrapper blocklist__item-wrapper--s2-iq8hh5o67' id='iq8hh5o67_2'>
<div class='blocklist__item social-item__footer blocklist__item--s2-i8twf35zj' id='i8twf35zj_2'>
<a href='https://wa.me/79259366300?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!%20%F0%9F%91%8B%20%D0%9C%D0%B5%D0%BD%D1%8F%20%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D1%83%D0%B5%D1%82...' target='_blank' class='link-block social__footer' id='iyy3cvz40_2'>
<div class='image social__img__footer' id='i9qg55ve0_2'>
<img src='https://trace-logos.ru/assets/logos/svgs/whatsapp.svg' alt='Логотип WhatsApp' title='' class='image__img' id='invxh774q_2'  loading="lazy" decoding="async">
</div>
</a>
</div>
</div>
</div>
</div>
<div class='blocklist__arrows-wrapper' id='iwy76uwgb_0'>
<div class='blocklist__arrows' id='iufxv7imo_0'>
<div class='blocklist__arrow-prev' id='idsvobgzi_0'></div>
<div class='blocklist__arrow-next' id='i1v5d3h9g_0'></div>
</div>
</div>
<div class='blocklist__pagination-wrapper' id='ipj3hntq4_0'>
<div class='blocklist__pagination' id='i8gz17z3z_0'>
<div class='blocklist__pagination-item' id='ik9cngbqm_0'></div>
<div class='blocklist__pagination-item' id='ik9cngbqm_1'></div>
<div class='blocklist__pagination-item' id='ik9cngbqm_2'></div>
</div>
</div>
</div>
</div>
</div>
<smart-captcha
    
    
    
    
    ></smart-captcha></form>
<div class='form__state-success' id='ic8ryg2lv_0'>
<div class='text' id='iqpzp6f9p_0'>
<span class='text-block-wrap-div'>Спасибо! Форма отправлена</span>
</div>
</div>
<div class='form__state-error' id='i9uhafcby_0'>
<div class='form__text-error' id='i8bo9k4rg_0'>
<span class='text-block-wrap-div'>Что-то не так. Попробуйте позже</span>
</div>
</div>
</div>
</div>
<div class='div div--u-ikrk2l5ca question__img' id='ikrk2l5ca_0'>
<div class='div text-time__billet' id='ir4g95t94_0'>
<div class='text color__h2 site__h3' id='i9b1r3fqv_0'>
<span class='text-block-wrap-div'>Евгения</span>
</div>
<div class='div time__work' id='idvw9vz7o_0'>
<div class='div dot-online__work div--u-igwz9tywy' id='igwz9tywy_0'>
<div class='div div--u-i8qbdoy5g dot-online-active__work' id='i8qbdoy5g_0'></div>
</div>
<div class='text color__h3 site__h4' id='ihf7qak9m_0'>
<span class='text-block-wrap-div'><span style="white-space:pre">На связи,</span> ежедневно <span style="white-space:pre">с 08:00</span> <span style="white-space:pre">до 22:00</span></span>
</div>
</div>
</div>
</div>
</div>
</div>
</section>