<section class='section reviews' id='i283ohlw3_0'>
<div class='container container--u-i2kg47g1e grid' id='i2kg47g1e_0'>
<div class='div div--u-ifh61pvb6 content-button__gap' id='ifh61pvb6_0'>
<div class='div title-description__gap div--u-i13z34mra' id='i13z34mra_0'>
<div class='text site__h1 color__h1' id='ihijt3k7f_0'>
<span class='text-block-wrap-div'>Смотрите, <span style="white-space:pre">как наши</span> ёлки <span style="color:rgb(17, 131, 65)">уже сияют <span style="white-space:pre">в домах</span> покупателей</span></span>
</div>
<div class='text site__h2 color__h2' id='it1rjzhyt_0'>
<span class='text-block-wrap-div'><span style="font-family:Manrope"><span style="font-style:normal"><span style="font-weight:700"><span style="white-space:pre">6 327</span> семей</span></span></span> <span style="white-space:pre">по всей</span> России сняли сторис <span style="white-space:pre">с нашими</span> ёлками</span>
</div>
</div>
<div class='blocklist blocklist--u-ig20yx3gk blocklist--s2-ig20yx3gk' id='ig20yx3gk_0'>
<div class='blocklist__list-wrapper blocklist__list-wrapper--s2-id9m5wamr' id='id9m5wamr_0'>
<div class='blocklist__list blocklist__list--s2-i5dpld5my' id='i5dpld5my_0'>
<div class='blocklist__item-wrapper blocklist__item-wrapper--s2-i2gapgyzs' id='i2gapgyzs_0'>
<div class='blocklist__item card__reviews blocklist__item--s2-irh2ny5c2' id='irh2ny5c2_0'>
<video src='/f/dc8af125c5bcd5de034dc9ae05d87216_1920.mp4' poster='' preload='metadata' controls='1' playsInline='1' muted='1' loop='1' class='video video--u-i6ck4cbhd video__reviews video--s2-i6ck4cbhd' id='i6ck4cbhd_0'></video>
<div class='div person__reviews' id='imv6su9g9_0'>
<div class='image reviews__img' id='i5l8okagw_0'>
<img src='/thumb/2/eG8pkbj5FLHdHimojXeCRA/640r640/d/337445582_752605179725396_1710931799224887848_n.jpg' alt='337445582_752605179725396_1710931799224887848_n' title='' class='image__img image__img--s2-ipfk0z42d' id='ipfk0z42d_0'  width="640" height="640" loading="lazy" decoding="async">
</div>
<div class='div text_wrapper__billet' id='iyczmmq4e_0'>
<div class='blocklist__text-title site__h3 color__h2 blocklist__text-title--u-ilmcdhvwh' id='ilmcdhvwh_0'>
<span class='text-block-wrap-div'>Виктория</span>
</div>
<div class='text site__h4 color__h3' id='ioe18ciii_0'>
<span class='text-block-wrap-div'>Сборка заняла 5 минут, качество ёлки отличное</span>
</div>
</div>
</div>
</div>
</div>
<div class='blocklist__item-wrapper blocklist__item-wrapper--s2-i2gapgyzs' id='i2gapgyzs_1'>
<div class='blocklist__item card__reviews blocklist__item--s2-irh2ny5c2' id='irh2ny5c2_1'>
<video src='/f/cd1902c8eb0d0e16165128ecc0745d0d_1920.mp4' poster='' preload='metadata' controls='1' playsInline='1' muted='1' loop='1' class='video video--u-i6ck4cbhd video__reviews video--s2-i6ck4cbhd' id='i6ck4cbhd_1'></video>
<div class='div person__reviews' id='imv6su9g9_1'>
<div class='image reviews__img' id='i5l8okagw_1'>
<img src='/thumb/2/OsJV8zWGoOWqharsNgvafQ/640r640/d/2026-06-12_102707.jpg' alt='2026-06-12 10.27.07' title='' class='image__img image__img--s2-ipfk0z42d' id='ipfk0z42d_1'  width="361" height="640" loading="lazy" decoding="async">
</div>
<div class='div text_wrapper__billet' id='iyczmmq4e_1'>
<div class='blocklist__text-title site__h3 color__h2 blocklist__text-title--u-ilmcdhvwh' id='ilmcdhvwh_1'>
<span class='text-block-wrap-div'>Ольга</span>
</div>
<div class='text site__h4 color__h3' id='ioe18ciii_1'>
<span class='text-block-wrap-div'>Ёлка покорила наши сердца — с первого взгляда и до последнего огонька</span>
</div>
</div>
</div>
</div>
</div>
<div class='blocklist__item-wrapper blocklist__item-wrapper--s2-i2gapgyzs' id='i2gapgyzs_2'>
<div class='blocklist__item card__reviews blocklist__item--s2-irh2ny5c2' id='irh2ny5c2_2'>
<video src='/f/f7bcf6afe7fd8dc8cff6ad76cc70faab_1920.mp4' poster='' preload='metadata' controls='1' playsInline='1' muted='1' loop='1' class='video video--u-i6ck4cbhd video__reviews video--s2-i6ck4cbhd' id='i6ck4cbhd_2'></video>
<div class='div person__reviews' id='imv6su9g9_2'>
<div class='image reviews__img' id='i5l8okagw_2'>
<img src='/thumb/2/hK6GlSUb_y_zvcBXd3gSAQ/640r640/d/2026-06-12_105024.jpg' alt='2026-06-12 10.50.24' title='' class='image__img image__img--s2-ipfk0z42d' id='ipfk0z42d_2'  width="640" height="640" loading="lazy" decoding="async">
</div>
<div class='div text_wrapper__billet' id='iyczmmq4e_2'>
<div class='blocklist__text-title site__h3 color__h2 blocklist__text-title--u-ilmcdhvwh' id='ilmcdhvwh_2'>
<span class='text-block-wrap-div'>Елена</span>
</div>
<div class='text site__h4 color__h3' id='ioe18ciii_2'>
<span class='text-block-wrap-div'>Сборка заняла 5 минут, качество ёлки отлично</span>
</div>
</div>
</div>
</div>
</div>
<div class='blocklist__item-wrapper blocklist__item-wrapper--s2-i2gapgyzs' id='i2gapgyzs_3'>
<div class='blocklist__item card__reviews blocklist__item--s2-irh2ny5c2' id='irh2ny5c2_3'>
<video src='/f/cefedb7c10fb61b89fab5686f3d906dd_1920.mp4' poster='' preload='metadata' controls='1' playsInline='1' muted='1' loop='1' class='video video--u-i6ck4cbhd video__reviews video--s2-i6ck4cbhd' id='i6ck4cbhd_3'></video>
<div class='div person__reviews' id='imv6su9g9_3'>
<div class='image reviews__img' id='i5l8okagw_3'>
<img src='/thumb/2/jB2Q3NYi_khzNEGZhnT25A/640r640/d/452928013_1906859496480632_2859209811053726324_n.jpg' alt='452928013_1906859496480632_2859209811053726324_n' title='' class='image__img image__img--s2-ipfk0z42d' id='ipfk0z42d_3'  width="640" height="640" loading="lazy" decoding="async">
</div>
<div class='div text_wrapper__billet' id='iyczmmq4e_3'>
<div class='blocklist__text-title site__h3 color__h2 blocklist__text-title--u-ilmcdhvwh' id='ilmcdhvwh_3'>
<span class='text-block-wrap-div'>Марина</span>
</div>
<div class='text site__h4 color__h3' id='ioe18ciii_3'>
<span class='text-block-wrap-div'>Столько лет мечтала и вот она, Миранда. Спасибо вам</span>
</div>
</div>
</div>
</div>
</div>
<div class='blocklist__item-wrapper blocklist__item-wrapper--s2-i2gapgyzs' id='i2gapgyzs_4'>
<div class='blocklist__item card__reviews blocklist__item--s2-irh2ny5c2' id='irh2ny5c2_4'>
<video src='/f/74db8b90ea026b46304e0c039e1847da_1920.mp4' poster='' preload='metadata' controls='1' playsInline='1' muted='1' loop='1' class='video video--u-i6ck4cbhd video__reviews video--s2-i6ck4cbhd' id='i6ck4cbhd_4'></video>
<div class='div person__reviews' id='imv6su9g9_4'>
<div class='image reviews__img' id='i5l8okagw_4'>
<img src='/thumb/2/fMpdj0Qt51jbio7htWQWNw/640r640/d/686921389_18100195085019681_5176714957971014528_n.jpg' alt='686921389_18100195085019681_5176714957971014528_n' title='' class='image__img image__img--s2-ipfk0z42d' id='ipfk0z42d_4'  width="640" height="640" loading="lazy" decoding="async">
</div>
<div class='div text_wrapper__billet' id='iyczmmq4e_4'>
<div class='blocklist__text-title site__h3 color__h2 blocklist__text-title--u-ilmcdhvwh' id='ilmcdhvwh_4'>
<span class='text-block-wrap-div'>Надежда</span>
</div>
<div class='text site__h4 color__h3' id='ioe18ciii_4'>
<span class='text-block-wrap-div'>Диаметр был важен — вы попали в точку. Спасибо!</span>
</div>
</div>
</div>
</div>
</div>
<div class='blocklist__item-wrapper blocklist__item-wrapper--s2-i2gapgyzs' id='i2gapgyzs_5'>
<div class='blocklist__item card__reviews blocklist__item--s2-irh2ny5c2' id='irh2ny5c2_5'>
<video src='/f/b14f250c8ca70fd603e6e88adbcfff6d_1920.mp4' poster='' preload='metadata' controls='1' playsInline='1' muted='1' loop='1' class='video video--u-i6ck4cbhd video__reviews video--s2-i6ck4cbhd' id='i6ck4cbhd_5'></video>
<div class='div person__reviews' id='imv6su9g9_5'>
<div class='image reviews__img' id='i5l8okagw_5'>
<img src='/thumb/2/EQQyeFMVN2wIr-t3-sMa6Q/640r640/d/538274344_18522980899017511_7056348408544603545_n.jpg' alt='538274344_18522980899017511_7056348408544603545_n' title='' class='image__img image__img--s2-ipfk0z42d' id='ipfk0z42d_5'  width="640" height="640" loading="lazy" decoding="async">
</div>
<div class='div text_wrapper__billet' id='iyczmmq4e_5'>
<div class='blocklist__text-title site__h3 color__h2 blocklist__text-title--u-ilmcdhvwh' id='ilmcdhvwh_5'>
<span class='text-block-wrap-div'>Ксения</span>
</div>
<div class='text site__h4 color__h3' id='ioe18ciii_5'>
<span class='text-block-wrap-div'>Мы искали ёлку, которая не вызовет аллергию и впишется в наш небольшой дом</span>
</div>
</div>
</div>
</div>
</div>
<div class='blocklist__item-wrapper blocklist__item-wrapper--s2-i2gapgyzs' id='i2gapgyzs_6'>
<div class='blocklist__item card__reviews blocklist__item--s2-irh2ny5c2' id='irh2ny5c2_6'>
<video src='/f/5f09122019034adb096200e52aad116c_1920.mp4' poster='' preload='metadata' controls='1' playsInline='1' muted='1' loop='1' class='video video--u-i6ck4cbhd video__reviews video--s2-i6ck4cbhd' id='i6ck4cbhd_6'></video>
<div class='div person__reviews' id='imv6su9g9_6'>
<div class='image reviews__img' id='i5l8okagw_6'>
<img src='/thumb/2/jJlLL9ihuJtB57u0xu9qSw/640r640/d/a4e381c9d09ee384b1e6d75f18b661a5.webp' alt='a4e381c9d09ee384b1e6d75f18b661a5' title='' class='image__img image__img--s2-ipfk0z42d' id='ipfk0z42d_6'  width="640" height="640" loading="lazy" decoding="async">
</div>
<div class='div text_wrapper__billet' id='iyczmmq4e_6'>
<div class='blocklist__text-title site__h3 color__h2 blocklist__text-title--u-ilmcdhvwh' id='ilmcdhvwh_6'>
<span class='text-block-wrap-div'>Наталья Фриске</span>
</div>
<div class='text site__h4 color__h3' id='ioe18ciii_6'>
<span class='text-block-wrap-div'>«Такая прекрасная ёлочка!» </span>
</div>
</div>
</div>
</div>
</div>
<div class='blocklist__item-wrapper blocklist__item-wrapper--s2-i2gapgyzs' id='i2gapgyzs_7'>
<div class='blocklist__item card__reviews blocklist__item--s2-irh2ny5c2' id='irh2ny5c2_7'>
<video src='/f/d58fdf8757c30626b15053fbb9f493ff_1920.mp4' poster='/d/img_8177.webp' preload='metadata' controls='1' playsInline='1' muted='1' loop='1' class='video video--u-i6ck4cbhd video__reviews video--s2-i6ck4cbhd' id='i6ck4cbhd_7'></video>
<div class='div person__reviews' id='imv6su9g9_7'>
<div class='image reviews__img' id='i5l8okagw_7'>
<img src='/thumb/2/e7qq_It4kREeb2CvHgxoRw/640r640/d/647035a8-b17d-11ef-b719-02420a0000c9.webp' alt='647035a8-b17d-11ef-b719-02420a0000c9' title='' class='image__img image__img--s2-ipfk0z42d' id='ipfk0z42d_7'  width="640" height="426" loading="lazy" decoding="async">
</div>
<div class='div text_wrapper__billet' id='iyczmmq4e_7'>
<div class='blocklist__text-title site__h3 color__h2 blocklist__text-title--u-ilmcdhvwh' id='ilmcdhvwh_7'>
<span class='text-block-wrap-div'>Сергей Филин</span>
</div>
<div class='text site__h4 color__h3' id='ioe18ciii_7'>
<span class='text-block-wrap-div'>«Наряжали ёлку всей семьей, очень красивая»</span>
</div>
</div>
</div>
</div>
</div>
<div class='blocklist__item-wrapper blocklist__item-wrapper--s2-i2gapgyzs' id='i2gapgyzs_8'>
<div class='blocklist__item card__reviews blocklist__item--s2-irh2ny5c2' id='irh2ny5c2_8'>
<video src='/f/46fd13cad1e9f260ec4a8294d0f8c0fa_1920.mp4' poster='' preload='metadata' controls='1' playsInline='1' muted='1' loop='1' class='video video--u-i6ck4cbhd video__reviews video--s2-i6ck4cbhd' id='i6ck4cbhd_8'></video>
<div class='div person__reviews' id='imv6su9g9_8'>
<div class='image reviews__img' id='i5l8okagw_8'>
<img src='/thumb/2/-KAikIKLejwL4Abs4ylRng/640r640/d/square_166.jpg' alt='square_166' title='' class='image__img image__img--s2-ipfk0z42d' id='ipfk0z42d_8'  width="166" height="166" loading="lazy" decoding="async">
</div>
<div class='div text_wrapper__billet' id='iyczmmq4e_8'>
<div class='blocklist__text-title site__h3 color__h2 blocklist__text-title--u-ilmcdhvwh' id='ilmcdhvwh_8'>
<span class='text-block-wrap-div'>Vinity Forest</span>
</div>
<div class='text site__h4 color__h3' id='ioe18ciii_8'>
<span class='text-block-wrap-div'>Загородный ресторан в СПБ</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class='blocklist__arrows-wrapper blocklist__arrows-wrapper--s2-icy0297kr' id='icy0297kr_0'>
<div class='blocklist__arrows controls-div' id='i906kmn8n_0'>
<div class='blocklist__arrow-prev navigation-slider' id='iupcrqqgq_0'></div>
<div class='blocklist__arrow-next navigation-slider blocklist__arrow-next--u-i72qzwmt7' id='i72qzwmt7_0'></div>
</div>
</div>
<div class='blocklist__pagination-wrapper blocklist__pagination-wrapper--s2-i0n5y9lnx' id='i0n5y9lnx_0'></div>
</div>
</div>
</div>
</section>
